.jobs_table, table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

#job-tracker-title {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

.job-button {
    padding: 5px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
}