<h1>Editing interview</h1>

<%= render "form", interview: @interview %>

<br>

<div>
  <%= link_to "Show this interview", job_interview_path(@interview) %> |
  <%= link_to "Back to interviews", job_interviews_path(@interview.job) %>
</div>
