<p style="color: green"><%= notice %></p>

<h1 id='job-tracker-title'>Job Tracker</h1>

<% Job::STATUSES.each do |status| %>
  <div>
      <%= render partial: 'jobs/job_table', locals: { jobs: Job.where(status: status), status: status } %>
  </div>
<% end %>

<%= button_to "New job", new_job_path, {method: :get, class: 'job-button'} %>
<%= javascript_include_tag "packs/job_table.js" %>
