<p style="color: green"><%= notice %></p>

<h1>Jobs</h1>

<% Job::STATUSES.each do |status| %>
  <div>
      <%= render partial: 'jobs/job_table', locals: { jobs: Job.where(status: status), status: status } %>
  </div>
<% end %>

<%= link_to "New job", new_job_path %>
